
<!-- Begin page content -->
<div class="container-fluid">
    <br>
    <h3>Our Services</h3>
    <p class="lead">Creatively design and handcrafted UI mobile liquid html template built with your loving framework bootstrap4 beta version.</p>
    <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <ul class="services-widget row">
        <li class="widget-item col-6 col-md-3 pt-3 pb-3">
            <a href="">
                <i class="text-danger fa fa-line-chart"></i>
                <h4>
                    <span class="d-block text-truncate">Export/Import </span>
                </h4>
                <p>We provide Best services accross the world with genuine product</p>
            </a>
        </li>
        <li class="widget-item col-6 col-md-3 pt-3 pb-3">
            <a href="">
                <i class="text-danger fa fa-subway"></i>
                <h4>
                    <span class="d-block text-truncate">Transport</span>
                </h4>
                <p>We provide Best services accross the world with genuine product</p>
            </a>
        </li>
        <li class="widget-item col-6 col-md-3 pt-3 pb-3">
            <a href="">
                <i class="text-danger fa fa-ticket"></i>
                <h4>
                    <span class="d-block text-truncate">Booking</span>
                </h4>
                <p>We provide Best services accross the world with genuine product</p>
            </a>
        </li>
        <li class="widget-item col-6 col-md-3 pt-3 pb-3">
            <a href="">
                <i class="text-danger fa fa-car"></i>
                <h4>
                    <span class="d-block text-truncate">Driving</span>
                </h4>
                <p>We provide Best services accross the world with genuine product</p>
            </a>
        </li>
    </ul>
    <br>
    <div class="card">
      <img class="card-img-top" src="img/post_pic.jpg" alt="Card image cap">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">100% Quality</li>
        <li class="list-group-item">Valid Code with Great CSS</li>
        <li class="list-group-item">Awesome future updates</li>
      </ul>
      <div class="card-body">
        <h4 class="card-title">Leave it blank, live it more</h4>
        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
        <a href="contact.html" class="btn btn-primary">Contact Us</a>
      </div>
    </div>
    <br>
     <p >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <br>
</div>
<!-- End page content -->
