
<!-- Begin page content -->
<div class="container-fluid">
    <div class="mt-4">
        <br><h3>Start <span class="text-success">Shopping</span>, <br>Enjoy the features & extend </h3>
    </div>
    <p class="lead">Scroll down to purchase products. Here are links to supported pags for shopping.</p>
    <br>
    <div class="list-group">
        <a href="category.html" class="list-group-item list-group-item-action">Product Category</a>
        <a href="product_detail.html" class="list-group-item list-group-item-action">Product Details</a>
        <a href="cart.html" class="list-group-item list-group-item-action">Cart</a>
        <a href="checkout.html" class="list-group-item list-group-item-action">Checkout</a>
        <a href="invoice.html" class="list-group-item list-group-item-action">Invoice</a>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card">
                <img class="card-img" src="img/product1.jpg" alt="Generic placeholder image">
                <div class="card-body">
                    <a href="product_detail.html"><h4 class="card-title">Product name here</h4></a>
                    <h5>$ 204 <small class="text-danger"><s>$ 250</s></small></h5>
                    <p class="mb-0">Product description text goes here and you can kept 2 3  lines here only if you want</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="mb-0">Rating</label>
                            </div>
                            <div class="col-8 col-md-8">
                                <h5 class="text-warning mb-0"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <small><a href="">(9) Rating</a></small></h5>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="mb-0">Seller</label>
                            </div>
                            <div class="col-8 col-md-8">
                                <a href="">Maxartkiller</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-outline-success"><i class="fa fa-heart-o"></i> Add to Favorite</a>
                    <a href="#" class="card-link btn btn-primary"><i class="fa fa-tick"></i> Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card">
                <img class="card-img" src="img/product2.jpg" alt="Generic placeholder image">
                <div class="card-body">
                    <a href="product_detail.html"><h4 class="card-title">Product name here</h4></a>
                    <h5>$ 204 <small class="text-danger"><s>$ 250</s></small></h5>
                    <p class="mb-0">Product description text goes here and you can kept 2 3  lines here only if you want</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="mb-0">Rating</label>
                            </div>
                            <div class="col-8 col-md-8">
                                <h5 class="text-warning mb-0"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <small><a href="">(9) Rating</a></small></h5>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="mb-0">Seller</label>
                            </div>
                            <div class="col-8 col-md-8">
                                <a href="">Maxartkiller</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-outline-success"><i class="fa fa-heart-o"></i> Add to Favorite</a>
                    <a href="#" class="card-link btn btn-primary"><i class="fa fa-tick"></i> Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card">
                <img class="card-img" src="img/product1.jpg" alt="Generic placeholder image">
                <div class="card-body">
                    <a href="product_detail.html"><h4 class="card-title">Product name here</h4></a>
                    <h5>$ 204 <small class="text-danger"><s>$ 250</s></small></h5>
                    <p class="mb-0">Product description text goes here and you can kept 2 3  lines here only if you want</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="mb-0">Rating</label>
                            </div>
                            <div class="col-8 col-md-8">
                                <h5 class="text-warning mb-0"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <small><a href="">(9) Rating</a></small></h5>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="mb-0">Seller</label>
                            </div>
                            <div class="col-8 col-md-8">
                                <a href="">Maxartkiller</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-outline-success"><i class="fa fa-heart-o"></i> Add to Favorite</a>
                    <a href="#" class="card-link btn btn-primary"><i class="fa fa-tick"></i> Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="card">
                <img class="card-img" src="img/product2.jpg" alt="Generic placeholder image">
                <div class="card-body">
                    <a href="product_detail.html"><h4 class="card-title">Product name here</h4></a>
                    <h5>$ 204 <small class="text-danger"><s>$ 250</s></small></h5>
                    <p class="mb-0">Product description text goes here and you can kept 2 3  lines here only if you want</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="mb-0">Rating</label>
                            </div>
                            <div class="col-8 col-md-8">
                                <h5 class="text-warning mb-0"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <small><a href="">(9) Rating</a></small></h5>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 col-md-4">
                                <label class="mb-0">Seller</label>
                            </div>
                            <div class="col-8 col-md-8">
                                <a href="">Maxartkiller</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-outline-success"><i class="fa fa-heart-o"></i> Add to Favorite</a>
                    <a href="#" class="card-link btn btn-primary"><i class="fa fa-tick"></i> Buy Now</a>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End page content -->
