
<!-- Begin page content -->
<div class="container-fluid">
    <div class="mt-4">
        <br><h3>Choose <span class="text-success">Element</span>, <br>All that we love with Framework </h3>
    </div>
    <br>
    <div class="list-group">
        <a href="alert.html" class="list-group-item list-group-item-action">Alert</a>
        <a href="buttons.html" class="list-group-item list-group-item-action">Buttons</a>
        <a href="buttons_group.html" class="list-group-item list-group-item-action">Button Group</a>
        <a href="card.html" class="list-group-item list-group-item-action">Card</a>
        <a href="carousel.html" class="list-group-item list-group-item-action">Carousel</a>
        <a href="collapse.html" class="list-group-item list-group-item-action">Collapse</a>
        <a href="dropdown.html" class="list-group-item list-group-item-action">DropDown</a>
        <a href="input_group.html" class="list-group-item list-group-item-action">Input Group</a>
        <a href="list.html" class="list-group-item list-group-item-action">List</a>
        <a href="modal.html" class="list-group-item list-group-item-action">Modal</a>
        <a href="navs.html" class="list-group-item list-group-item-action">Navs</a>
        <a href="pagination.html" class="list-group-item list-group-item-action">Pagination</a>
        <a href="popovers.html" class="list-group-item list-group-item-action">Popovers</a>
        <a href="progress.html" class="list-group-item list-group-item-action">Progress</a>
        <a href="tooltip.html" class="list-group-item list-group-item-action">Tooltips</a>
    </div>
</div>
<!-- End page content -->
