
<!-- Begin page content -->
<div class="container-fluid">
    <br>
    <ul class="review-widget rounded row">
        <li class="widget-item col-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="reviewer">
                        <figure><img src="img/team.png" alt=""></figure>
                        <h5 class="card-title mb-0">Maxartkiller, UI UX</h5>
                        <p class="card-text">Excellent verified code.</p>
                        <p class="card-text">BBBB</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="widget-item col-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="reviewer">
                        <figure><img src="img/team2.png" alt=""></figure>
                        <h5 class="card-title mb-0">California, Dev CEO</h5>
                        <p class="card-text">Quick and reliable support turnarounds.</p>
                        <p class="card-text">AAAA</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <br>

</div>
<!-- End page content -->
